body{
    background-color : grey;

}

#sketch-container{
    padding:0;
    margin:auto;
    width:640px;
    height: 640px;
    color:
    
}


.row{
    padding:0;
    margin:0;
    display: flex;


}

.cell{
    padding:0;
    margin:0;
    height:100%;
    width:calc(100%/16);
    background-color: white;
}

.cell:hover{
    background-color: black;

}