*{
    font-family: 'roboto',sans-serif;
}

body{
    background-color : grey;
    height:80vh;
    background-image: url(./images/705836.jpg);
    background-position: center;

}

.center{
    display: flex;
    justify-content: center;
    margin: 2vh;
}


h1{

    padding: 4px 10px;
    color : white;
    background-color: rgb(30,65,60);
    width: fit-content;
    border-radius: 20px;
    border :solid black;
}

#sketch-container{
    padding:0;
    border : solid black;
    
    width:640px;
    height: 640px;
    
    
}


.row{
    padding:0;
    margin:0;
    display: flex;


}

.cell{
    padding:0;
    margin:0;
    height:100%;
    width:calc(100%/16);
    background-color: white;
}

.app{
    display: flex;
    justify-content:center;
    gap:50px;

}

.menu{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap : 10px;
}

button,input{

    padding:10px 20px;
    font-size: 18px;
    color :white;
    background-color: rgb(30,65,60);
    border-radius: 20px;
    border:solid black;
}




.color-pixel{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap:20px;

}

label{
    font-size: 18px;
    color:rgb(230,222,167);
}
/*colors rgb(230,222,167) ; rgb(30,65,60) ; rgb(130,117,47)/*